<div ng-controller="DashboardCtrl as dc" ng-init="dc.initDashboard()">
	<div class="row" style="padding-top:2%;">
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Available Sensors</div>
				<div class="panel-body">
					<table ng-table="dc.availableSensorTableData" class="table" show-filter="true">
	                	<tr ng-repeat="user in $data">
		                    <td title="'SensorId'" filter="{ sensorid: 'number'}" sortable="'sensorid'">
		                        {{user.sensorid}}</td>
		                    <td title="'Area'" filter="{ area: 'text'}" sortable="'area'">
		                        {{user.area}}</td>
		                    <td title="'City'" filter="{ city: 'text'}" sortable="'city'">
		                        {{user.city}}</td>
	                        <td title="'Action'">
	                        	<button class="btn btn-primary" ng-click="dc.addSensorBtn(user,$index)">Add Sensor</button>
		                    </td>
	                	</tr>
            		</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-success">
				<div class="panel-heading">Your Activated</div>
				<div class="panel-body">
					<table ng-table="dc.userSensorTableData" class="table" show-filter="true">
	                	<tr ng-repeat="user in $data">
		                    <td title="'SensorId'" filter="{ sensorid: 'number'}" sortable="'sensorid'">
		                        {{user.sensorid}}</td>
		                    <td title="'Area'" filter="{ area: 'text'}" sortable="'area'">
		                        {{user.area}}</td>
		                    <td title="'City'" filter="{ city: 'text'}" sortable="'city'">
		                        {{user.city}}</td>
	                        <td title="'Action'">
	                        	<button class="btn btn-danger" ng-click="dc.removeSensorBtn(user)">Remove</button>
		                    </td>
	                	</tr>
            		</table>
				</div>
			</div>
		</div>
	</div>
</div>